.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

}

.navbar .logo{
    margin: 10px;
}

.navbar .btn1,.navbar .link-btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btn1:hover,
.navbar .link-btn:hover{
    background: #fff;
    color: #162938;
}

.navbar .link-btn{
    text-decoration: none;
    padding: 13px;
}